*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
<<<<<<< HEAD
    height: 100%;
=======
    height:100%;
>>>>>>> 4453a87e854ff0f79ffe9c954017a8753af70e1f

}
body {
    box-sizing: border-box;
<<<<<<< HEAD
=======
-webkit-overflow-scrolling: touch;
　　　　overflow-scrolling: touch;
>>>>>>> 4453a87e854ff0f79ffe9c954017a8753af70e1f
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../images/bg.jpeg) no-repeat;
}
body .mmbg{
    background: url("../images/bg.jpeg") no-repeat;
}

header {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

header img {
    width: 28%;
    height: 39%;
}

.btnBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.btnBox button{
    outline: none;
    border: 0;
    width: 220px;
    height: 52px;
    color: #fff;
    background: url("../images/btn.png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    font-size: 16px;
}


main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main div {
    width: 21%;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center
}
main div img{width: 100%}
main div .img_d{
    width: 138%;
}
main .describe{
    display: none;
}


main div a:hover{
    animation: move .5s both;
}

@keyframes move {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }

}



/*弹窗盒子*/
.markOutBox{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.markOutBox .markBg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    richness: 0;
    bottom: 0;
    background: #000;
    opacity: .38;
}
.markOutBox .Box{
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    background-color: #F2F2F2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -293px;
    z-index: 999;
    box-sizing: border-box;
}
.markOutBox .Box .p1{
    font-size: 16px;
    color: #333333;
    margin: 0 0 10px 0;
    line-height: 1;
}
.markOutBox .Box .p2{
    font-size: 12px;
    color: #E80C24;
}
.markOutBox .Box .pp{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    margin: 10px 0;

}
.markOutBox .Box .pp input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
}
/*弹窗退出小图片*/
.markOutBox .Box .delBox{
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 20px;
    width: 19px;
    height: 19px;
}
.markOutBox .Box .delBox img{width: 100%;height: 100%}

.markOutBox .Box textarea{
    outline: none;
    width: 96%;
    height: 86px;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 5px 10px;
    border: solid 1px #c9c9c9;
    /*margin: 0 0 15px 0;*/
    font-size: 14px;
    margin: 10px 0;
}

/*弹窗提交按钮*/
.markOutBox .Box .Box_btnbox{
    padding-top: 15px;
}
.markOutBox .Box .alert_s{

    display: none;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    text-align: center;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}
.markOutBox .Box .Box_btnbox button{
    cursor: pointer;
    outline: none;
    width: 100%;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #E80C24;
    border: solid 1px #E80C24;
    border-radius: 20px;
    background-color: transparent;

}
main div a img.d3{
    width: 130%;
}
.p_title{
    padding: 15px 38px;

}
.jiesao{
    font-family: heiti;
    letter-spacing: 3px;
    font-size: 15px;
}
.tit{
    padding: 15px;
    text-align: center;
}
.tit .s1{
    font-size: 30px;
    letter-spacing: 5px
}
.tit .s2{
    letter-spacing: 1.69px;
}
@media only screen and (max-width: 700px) {
    header img {
        width: 66%;
        height: 39%;
    }
    main div a img.d3{
        width: 100%;
    }
    main div .img_d{
        width: 100%;
    }
    body .mmbg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: 100% 100%;
        overflow: hidden;
        background: url(../images/sjbg.jpeg) left;
    }
    body .mobile_box{
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: auto;
        width: 100%;
        height: 100%;
}
    main div{
        width: 59%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .describe{
        display: block;
        color: #333;
        width: 80%;
        height: 100%;
        font-size: 15px;
        margin: 0 auto;
    }
    .markOutBox .Box{
        width: 100%;
        background: #F2F2F2;
        color: #F2F2F2;
        z-index: 9;
        position: absolute;
        padding: 30px 10px 20px 10px;
        box-sizing: border-box;
        height: 100%;
        top: 0;
        left: 0;
        margin: 0;
    }
    .markOutBox .Box textarea{
        outline: none;
        width: 94%;
        height: 130px;
        background-color: #FFFFFF;
        border-radius: 8px;
        padding: 5px 10px;
        border: solid 1px #c9c9c9;
        margin: 0 0 15px 0;
        font-size: 14px;
    }
}
@media only screen and (min-width: 1250px) {
    header{
        width: 65%;
    }
    main div{
        width: 21%;
        height: 173px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px;
        box-sizing: border-box;
        margin: 10px;
    }
}
